# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
package-lock.json
yarn-error.log
yarn.lock

# development
.env
.eslintcache
*.map
*.tsbuildinfo
tslint-to-eslint-config.log

# build
lib/

# project specific
todo.md
test.js
