# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log
yarn.lock

# development
.env
*.map
*.tsbuildinfo
tslint-to-eslint-config.log

# project specific
todo.md
