# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log
shrinkwrap.yaml

# development
.circleci/
.editorconfig
.env*
.eslintcache
.eslintignore
.eslintrc
.gitignore
.travis.yml
gulpfile.js
rollup.config.json
src/
test/
tsconfig.json
tsconfig.tsbuildinfo
tslint.json
types/
yarn.lockfile

# project specific
test.js
test.ts
todo.md